.workspcae_hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  color: #003e80;
  border-bottom: 1px solid #292b2e1a;
  flex-wrap: wrap;
}
.workspace-header-container .border_grey_btn,
.workspace-header-container .orange_rect_btn {
  transition: 0.3s;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.workspace-header-container .border_grey_btn:hover {
  transform: translateY(-7px);
  /* background-color: var(--yellow-btn);
  border-color: transparent;
  color: #fff; */
}
.workspace-header-container .orange_rect_btn:hover {
  transform: translateY(-7px);
}
.workspcae_hero h1 {
  font-size: var(--font-30);
  /* font-weight: 600; */
}
.workspace_filter .search_container input {
  outline: none;
  border: none;
  background: transparent;
}
.workspace_filter .search_container input::placeholder {
  color: #003e80;
  font-size: var(--font-17);
  text-align: center;
}
.workspace_filter .search_container {
  border-bottom: 1px solid #292b2e1a;
  padding: 0.5rem 0;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.workspace_filter .tweak-select-tool {
  width: 10rem;
  border-bottom: 1px solid #292b2e1a;
}
.workspace_filter .tweak-select-tool select {
  border: unset;
  outline: unset;
  background-color: transparent;
}
.workspace_display .workspace_item {
  background: #edf2fa;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 10px;
}
.workspace_display .workspace_item .tweak-select-tool {
  max-width: 25rem;
  min-width: 20rem;
  /* width: 100%; */
}
.workspace_display .workspace_item .tweak-select-tool select {
  background-color: #9dd6fc;
}
.workspace_item .workspace_tiles h4 {
  color: #003e80;
  font-size: var(--font-23);
}
.workspace_item .workspace_tiles span {
  color: #003e80;
  font-size: var(--font-15);
}
.workspace_item .createdAt {
  color: #003e80;
  font-size: var(--font-19);
}
.app-modal.full-page {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  top: 65px;
}
.full-page.app-modal .app-modal-inner {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  height: 100%;
  border-radius: unset;
}
.dropdown .workspace-more:hover {
  background-color: unset;
}
.app-modal.full-page .modal-body .inner {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 40%;
  margin: 0 auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.app-modal.full-page .popup-title input {
  background: #edf2fa;
  border: unset;
  padding: 1rem;
}
.create-workspace-modal-header h3 {
  color: #003e80;
}
.workspace_analytics .analytics_box {
  background-color: #edf2fa;
  width: 33%;
  border-radius: 10px;
  padding: 2rem 1rem;
}

.workspace_analytics .analytics_box .count,
.workspace_analytics .analytics_box .header {
  color: #003e80;
}
.workspace_analytics {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.agent-status {
  padding: 0.6rem 6rem;
  border: 1px solid rgba(0, 62, 128, 0.15);
  color: rgba(5, 72, 144, 1);
  border-radius: 7px;
  background: rgb(190, 190, 190);
}
.agent-status.active {
  background-color: rgb(7, 167, 87);
  color: #fff;
}
.full-page .addTeamMembers {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.full-page .addTeamMembers .ique_tab_btn,
.all-agents .addTeamMembers .ique_tab_btn {
  font-weight: 500;
  color: rgb(102 147 195);
  font-size: var(--font-19);
  text-transform: capitalize;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
  padding: 0 2rem;
}

.workspace_item.all-agent .workspace_tiles {
  width: 20rem;
}
.full-page .addTeamMembers .ique_tab_btn.active-tab-indicator,
.all-agents .addTeamMembers .ique_tab_btn.active-tab-indicator {
  border-color: #003e80;
  font-weight: 700;
  color: #003e80;
}
.full-page .copyInviteLink {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #003e80;
  transition: 0.3s;
  color: grey;
}
.full-page .copyInviteLink:hover {
  border-color: #023164;
}
.copy-link-btn {
  background: #1263b9;
  border-radius: 10px;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}
.copyInviteLink.embed-content.copied {
  color: blue;
}
